<!DOCTYPE HTML>
<!--
	Aerial 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Ramin Sedighi</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="assets/skel.min.js"></script>
		<script src="assets/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="assets/skel.css" />
			<link rel="stylesheet" href="assets/style.css" />
			<link rel="stylesheet" href="assets/style-wide.css" />
			<link rel="stylesheet" href="assets/style-noscript.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Ramin Sedighi</h1>
						<p>Ruby on Rails &nbsp;&bull;&nbsp; JavaScript &nbsp;&bull;&nbsp; Web Developer</p>
						<nav>
							<ul>
								<li><a href="http://linkedin.com/in/rsedighi" class="fa fa-linkedin"><span>Linked-in</span></a></li>
								<li><a href="http://twitter.com/ramin_sed" class="fa fa-twitter"><span>Twitter</span></a></li>
								<!-- <li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li> -->
								<!-- <li><a href="#" class="fa fa-dribbble"><span>Dribbble</span></a></li> -->
								<li><a href="http://github.com/rsedighi" class="fa fa-github"><span>Github</span></a></li>
								<li><a href="mailto:ramin@sedighi.com?Subject=Portfolio%20email" class="fa fa-envelope-o"><span>Email</span></a></li>
							</ul>
						</nav>
					</header>


				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Ramin Sedighi.</span>
					</footer>

			</div>
		</div>
	</body>
</html>
