<!DOCTYPE HTML>
<!--
	Aerial 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Crave</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="assets/skel.min.js"></script>
		<script src="assets/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="assets/skel.css" />
			<link rel="stylesheet" href="assets/style.css" />
			<link rel="stylesheet" href="assets/style-wide.css" />
			<link rel="stylesheet" href="assets/style-noscript.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<div class="containers">
							<div class="jumbotron">
							  <h1>Crave</h1>
							  <h2>Only the restaurants you should care about</h2>
							  <h4> Never get stuck on where to eat - when your friends discover new restaurants, so do you. Create, organize and share your list of restaurants that you want try and recommend your favorite restaurants to your friends.</h4>
								<div class="col-lg-6">
								<div class="containers">
						   		<div class="input-group">
										<%= render "messages/message" %>
						      	<!-- <input type="text" class="form-control" placeholder="Enter your email" class="inputbox"> -->
						      	<!-- <span class="input-group-btn">
						       		<button class="btn btn-warning" type="button" class="buttonbutton">Crave Us!</button>
						      	</span> -->

											<h5>Crave Us? Get notified when we launch!</h5>
											</div>
						  	</div><!-- /.col-lg-6 -->
						  	</div>
							</div>
						</div>

						<nav>
							<ul>
								<!-- <li><a href="http://twitter.com/craves" class="fa fa-twitter"><span>Twitter</span></a></li>
								<li><a href="#" class="fa fa-facebook"><span></span></a></li> -->
								<!-- <li><a href="#" class="fa fa-dribbble"><span>Dribbble</span></a></li> -->
								<!-- <li><a href="mailto:support@craves.co?Subject=Portfolio%20email" class="fa fa-envelope-o"><span>Email</span></a></li> -->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Craves.co | </span>
						<span <li><a href="mailto:support@craves.co?Subject=Craves%20Support" class="fa fa-envelope-o"></a></li></span>
					</footer>

			</div>
		</div>
	</body>
</html>
